<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Revise Auth Starter" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

    <%= javascript_importmap_tags %>
  </head>

  <body>
  <main class="container">
  <%= tag.div notice if notice %>
  <%= tag.div alert if alert %>
    <%= yield %>
  </main>
  </body>


</html>
